
body{
    background-image: url("candles.png");
    color:antiquewhite;
}
p{
    font-size:24px;
    font-family: calibri;
}

span{
    color:#EC0B0B;
}
li{
    list-style: none;
    float: left;
}
a{
    display: block;
    padding: 8px;
    color:antiquewhite;
    margin-left: auto;
}
h1, h2, h3, p.maintext{
    text-align: center;
    font-family: copperplate gothic;
}

h1{
    font-size: 48px;
}
h2{
    font-size: 36px;
}
ul{
    font: 14pt calibri;
    margin: 0;
    padding: 0;
}
.footer_text{
    bottom: 0;
    position: absolute;
    font-size: 8px;
}

div.maintext{
    margin-top: 175px;
    position: relative;
}

